.container {
  max-width: 1140px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.infoGroupLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}

.infoGroupRight {
  display: flex;
  justify-content: right;
  align-items: center;
}

.infoGroupLeft  * {
  padding: 5px;
}
