.container {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 75px;
  border-radius: 4px;
  background: #e5e5e5;
}

.avatar {
  height: 50px;
  display: flex;
  margin: 0 10px;
  border-radius: 30px;
}

.toolbarBtn {
  border: none;
}

.message {
  margin: 0;
}

.textGroup {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
